<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Pages</title>
    <meta name="google-signin-client_id"
        content="875316385328-2as5p64ht38ssdcjmgui58bjnsl11go3.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    
    
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active mb-3 nama"> Sign In </h2>


            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/images/user.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                {{!-- <div class="mt-4 mb-5 mx-auto fadeIn second d-flex align-items-center justify-content-center" data-accesstype="offline" data-redirecturi="http://localhost:3000/oauth2callback"

                    id="my-signin2"></div>
                    <div id="gSignInWrapper">
                        <span class="label">Sign in with:</span>
                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="icon"></span>
                            <span class="buttonText">Google</span>
                        </div>
                    </div>
                    <div id="name"></div>
                    <script>startApp();</script> --}}
                {{!-- <div id="my-signin2" class="mt-4 mb-5 mx-auto fadeIn first d-flex align-items-center justify-content-center"></div> --}}
                {{!-- <button id="signinButton" class="mt-4 mb-5 mx-auto fadeIn first d-flex align-items-center justify-content-center">Sign in with Google</button> --}}
                <a href="/auth">LOGIN</a>
                {{!-- <a href="#" class="mt-4 mb-5 mx-auto fadeIn second d-flex align-items-center justify-content-center"
                    onclick="signOut();" id="signout">Sign out</a> --}}
              

                
            </form>


        </div>
    </div>
    <!-- partial -->
    {{!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> --}}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

</body>

</html>